In [9]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/movies.dat", sep="::",  names=["ID", "NAME","CATEGORY"])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [12]:
df.head()

   ID                                NAME                      CATEGORY
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [15]:
df.to_csv("/data/movie_data/movies.csv", index=False)

In [25]:
import csv
df1 = pd.read_csv("/data/BX-CSV-Dump/BX-Books.csv", sep=";\s+", quoting=csv.QUOTE_ALL)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

ParserError: Expected 1 fields in line 6, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [27]:
df1.head()

NameError: name 'df1' is not defined