In [6]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/movies.dat", sep="::", headers=None)

TypeError: read_csv() got an unexpected keyword argument 'headers'

In [7]:
df.head()

   1                    Toy Story (1995)   Animation|Children's|Comedy
0  2                      Jumanji (1995)  Adventure|Children's|Fantasy
1  3             Grumpier Old Men (1995)                Comedy|Romance
2  4            Waiting to Exhale (1995)                  Comedy|Drama
3  5  Father of the Bride Part II (1995)                        Comedy
4  6                         Heat (1995)         Action|Crime|Thriller