In [9]:
import pandas as pd
df = pd.read_csv("/data/BX-CSV-Dump/BX-Books.csv", sep=";")

ParserError: Error tokenizing data. C error: Expected 8 fields in line 6452, saw 9

In [7]:
df.head()

NameError: name 'df' is not defined

In [12]:
df.head()

   ID                                NAME                      CATEGORY
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [15]:
df.to_csv("/data/movie_data/movies.csv", index=False)

In [31]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/users.dat", sep="::", names=["UserID","Gender","Age","Occupation","Zip-code"])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [32]:
df.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [33]:
df.to_csv("/data/movie_data/users.csv", index=False)

In [34]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/ratings.dat", sep="::", names=["UserID","MovieID","Rating","Timestamp"])
df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [35]:
df.to_csv("/data/movie_data/rating.csv", index=False)