In [1]:
import pandas as pd
df = pd.read_csv("/data/book_crossing/book_crossing/items_info.dat", sep="\t", error_bad_lines=False )
df["ID"] = df.index
df.head()

<ipython-input-1-092e572cbf66>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("/data/book_crossing/book_crossing/items_info.dat", sep="\t", error_bad_lines=False )

FileNotFoundError: [Errno 2] No such file or directory: '/data/book_crossing/book_crossing/items_info.dat'

In [8]:
topic = df[["ID", "ISBN", "Book-Title"]]
topic.rename(columns = {'ISBN' : 'NAME', 'Book-Title' : 'CATEGORY'}, inplace = True)
topic.head()

topic.to_csv("/data/books_data/books.csv", index=False)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
df1 = pd.read_csv("/data/books_data/users.csv")
df1.head()

                        Gender  Age  UserID
0  minneapolis, minnesota, usa   24       1
1   san diego, california, usa   20       2
2      novinger, missouri, usa   16       3
3      sonoma, california, usa   34       4
4    berkeley, california, usa   23       5

In [12]:
df.head()

   ID                                NAME                      CATEGORY
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [15]:
df.to_csv("/data/movie_data/movies.csv", index=False)

In [31]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/users.dat", sep="::", names=["UserID","Gender","Age","Occupation","Zip-code"])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [32]:
df.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [33]:
df.to_csv("/data/movie_data/users.csv", index=False)

In [34]:
import pandas as pd
df = pd.read_csv("/data/ml-1m/ml-1m/ratings.dat", sep="::", names=["UserID","MovieID","Rating","Timestamp"])
df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [35]:
df.to_csv("/data/movie_data/rating.csv", index=False)