In [2]:
import os

topic_file = os.getenv("TOPIC_PATH")
users_file = os.getenv("USERS_PATH")
ratings_file = os.getenv("RATINGS_PATH")

#topic_file = "/data/movie_data/movies.csv"
#users_file = "/data/movie_data/users.csv"
#ratings_file = "/data/movie_data/rating.csv"

In [41]:
import pandas as pd
import numpy as np
topics = pd.read_csv(topic_file)

In [4]:
ratings = pd.read_csv(ratings_file)
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [5]:
users = pd.read_csv(users_file)
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [27]:
mean = ratings.groupby(["MovieID"], as_index = False, sort = False).mean().\
    rename(columns = {"Rating":"Rating_mean"})[["MovieID", "Rating_mean"]]

In [30]:
ratings_merged = pd.merge(ratings,mean,on = 'MovieID', how = 'left', sort = False)
ratings_merged['rating_adjusted']=ratings_merged['Rating']-ratings_merged['Rating_mean']

In [31]:
ratings_merged

         UserID  MovieID  Rating  Timestamp  Rating_mean  rating_adjusted
0             1     1193       5  978300760     4.390725         0.609275
1             1      661       3  978302109     3.464762        -0.464762
2             1      914       3  978301968     4.154088        -1.154088
3             1     3408       4  978300275     3.863878         0.136122
4             1     2355       5  978824291     3.854375         1.145625
...         ...      ...     ...        ...          ...              ...
1000204    6040     1091       1  956716541     2.793566        -1.793566
1000205    6040     1094       5  956704887     3.731489         1.268511
1000206    6040      562       5  956704746     3.799163         1.200837
1000207    6040     1096       4  956715648     3.976744         0.023256
1000208    6040     1097       4  956715569     3.965183         0.034817

[1000209 rows x 6 columns]

In [32]:
movie_data_all_append=pd.DataFrame()

In [33]:
userid = 320

In [38]:
user_data= ratings_merged[ratings_merged['UserID']!=userid]

In [42]:
distinct_movies=np.unique(user_data["MovieID"])

In [43]:
i=1
for movie in distinct_movies:

SyntaxError: unexpected EOF while parsing (<ipython-input-43-7dcd37179b43>, line 2)