In [8]:
topic_file = "/data/movie_data/movies.csv"
users_file = "/data/movie_data/users.csv"
ratings_file = "/data/movie_data/rating.csv"

In [24]:
import pandas as pd
topics = pd.read_csv(topic_file)

In [25]:
topics.head()

   ID                                NAME                      CATEGORY
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [11]:
ratings = pd.read_csv(ratings_file)
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [12]:
users = pd.read_csv(users_file)
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [26]:
user_rating = pd.merge(users,ratings,on='UserID')
user_rating_mv = pd.merge(user_rating, topics, on="MovieID")

KeyError: 'MovieID'

In [22]:
user_rating

         UserID Gender  Age  Occupation Zip-code  MovieID  Rating  Timestamp
0             1      F    1          10    48067     1193       5  978300760
1             1      F    1          10    48067      661       3  978302109
2             1      F    1          10    48067      914       3  978301968
3             1      F    1          10    48067     3408       4  978300275
4             1      F    1          10    48067     2355       5  978824291
...         ...    ...  ...         ...      ...      ...     ...        ...
1000204    6040      M   25           6    11106     1091       1  956716541
1000205    6040      M   25           6    11106     1094       5  956704887
1000206    6040      M   25           6    11106      562       5  956704746
1000207    6040      M   25           6    11106     1096       4  956715648
1000208    6040      M   25           6    11106     1097       4  956715569

[1000209 rows x 8 columns]

In [23]:
user_rating.groupby('Gender').head(2)

    UserID Gender  Age  Occupation Zip-code  MovieID  Rating  Timestamp
0        1      F    1          10    48067     1193       5  978300760
1        1      F    1          10    48067      661       3  978302109
53       2      M   56          16    70072     1357       5  978298709
54       2      M   56          16    70072     3068       4  978299000